[submodule "data/canonical-latinLit"]
	path = data/canonical-latinLit
	url = https://github.com/PerseusDL/canonical-latinLit.git
[submodule "data/canonical-greekLit"]
	path = data/canonical-greekLit
	url = https://github.com/PerseusDL/canonical-greekLit.git
[submodule "wiki"]
	path = wiki
	url = git@github.com:PerseusDLCode/Perseus6.wiki.git
[submodule "data/canonical-engLit"]
	path = data/canonical-engLit
	url = https://github.com/PerseusDL/canonical-engLit
